.main {
  display: grid;
  grid-template-rows: .1fr .1fr 1fr;
}
.btn-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 30px;
  margin-bottom: 2rem;
}
.btn {
  background: black;
  color: white;
  font-size: 1.1rem;
  padding: 0 15px;
  margin: 0;
}
.btn:hover {
  border: 2px solid orange;
  background: #333;
  color: white;
}

.card {

  display: grid;
  grid-template-columns: minmax(100px, 300px)
  repeat(auto-fill, 200px);
  gap: 2rem;

}
.link {
  border: 2px solid black;
  border-radius: .5rem;
  color: unset;
  text-decoration: none;
  padding: 10px;
}
.link:hover {
  border: 2px solid orange;
  background: #333;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.link span, .commit-details span {
  border-bottom: 2px solid orange;
}

.commit-details {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.commit-details .btn {
  place-self: flex-start;
  margin-bottom: 1rem;
}